
@{
    ViewBag.Title = "Configuracion";
}

<h3 id="TituloConfig">Configuración del sistema</h3>
<hr />

<div class="col-lg-12">

    <div id="Principal">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Usuarios</th>
                    <td>Permite agregar y modificar usuarios al sistema.</td>
                    <td><button type="button" class="btn btn-success" onclick="MostrarConfigUsuario()">Modificar</button></td>
                </tr>
                <tr>
                    <th>Catálogo Rol</th>
                    <td>Permite agregar y modificar el catálogo de roles.</td>
                    <td><button type="button" class="btn btn-success" onclick="MostrarConfigRol()">Modificar</button></td>
                </tr>
                <tr>
                    <th>Catálogo Articulo</th>
                    <td>Permite agregar y modificar el catálogo de articulos.</td>
                    <td><button type="button" class="btn btn-success" onclick="MostrarConfigArticulo()">Modificar</button></td>
                </tr>
                <tr>
                    <th>Catálogo Teléfono</th>
                    <td>Permite agregar y modificar el catálogo de telefonos.</td>
                    <td><button type="button" class="btn btn-success" onclick="MostrarConfigTelefono()">Modificar</button></td>
                </tr>
                <tr>
                    <th>Catálogo Parentesco</th>
                    <td>Permite agregar y modificar el catálogo de parenteso.</td>
                    <td><button type="button" class="btn btn-success" onclick="MostrarConfigParentesco()">Modificar</button></td>
                </tr>
                <tr>
                    <th>Catálogo Asistente</th>
                    <td>Permite agregar y modificar el catálogo de asistentes.</td>
                    <td><button type="button" class="btn btn-success" onclick="MostrarConfigAsistente()">Modificar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-1" align="left">
        <button id="btnAtras" type="button" class="btn btn-default" onclick="OcultarFormularios()" style="display:none;">Volver</button>        
    </div>
    <div class="col-lg-11" align="left">
        <button id="btnCrear" type="button" class="btn btn-success" onclick="AgregarPersona()" style="display:none;">Agregar usuario</button>
        <button id="btnCrearRol" type="button" class="btn btn-success" onclick="AgregarRol()" style="display:none;">Agregar rol</button>
    </div>

    <div id="EdicionGeneral" style="display: none; margin-top:10px;" class="col-lg-12">
        <div class="col-lg-12">
            <h4>Agregar un registro</h4>
            <form style="margin-bottom:5px;">
                <div class="form-group" align="center">
                    <label for="DescripcionGeneral">Descripcion: </label>
                    <input type="text" class="form-control" id="DescripcionGeneral">
                </div>
                <div class="form-group" align="center">
                    <label for="EstadoGeneral">Estado: </label>
                    <input class="form-check-input" type="checkbox" id="EstadoGeneral">
                    <label class="form-check-label" for="EstadoGeneral">Activo</label>
                </div>
                <div class="form-group" align="center">
                    <button type="button" class="btn btn-success" onclick="AgregarNuevoRegistro()">Guardar</button>
                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <h4 style="margin-top:25px;">Lista de registros</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descripción</th>
                        <th scope="col" colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Descripcion del catálogo</td>
                        <td><button type="submit" class="btn btn-default" onclick="Validar()">Modificar</button></td>
                        <td><button type="submit" class="btn btn-danger" onclick="Validar()">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="EdicionRoles" style="display: none; margin-top:10px;" class="col-lg-12">
        
        <div id="formRol" class="col-lg-12" style="display: none;">
            <h4 text-align:left;">Agregar rol</h4>
            <form class="col-lg-12" align="center">
                <div class="form-group" align="center">
                    <label for="NomRol">Descripción</label>
                    <input type="text" class="form-control" id="NomRol">
                </div>
                <div class="form-group" align="center">
                    <label for="PerResidente">Permisos</label>
                    <label for="PerResidente">Acceso a residentes</label>
                    <select class="form-control" id="PerResidente">
                        <option>Permitir</option>
                        <option>Bloquear</option>
                    </select>
                </div>
                <div class="form-group" align="center">
                    <label for="PerAsistente">Acceso a asistentes</label>
                    <select class="form-control" id="PerAsistente">
                        <option>Permitir</option>
                        <option>Bloquear</option>
                    </select>
                </div>
                <div class="form-group" align="center">
                    <label for="PerVisitas">Acceso a visitas</label>
                    <select class="form-control" id="PerVisitas">
                        <option>Permitir</option>
                        <option>Bloquear</option>
                    </select>
                </div>
                <div class="form-group" align="center">
                    <label for="PerConfiguraciones">Acceso a configuraciones</label>
                    <select class="form-control" id="PerConfiguraciones">
                        <option>Permitir</option>
                        <option>Bloquear</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="EstadoRol">Estado: </label>
                    <input class="form-check-input" type="checkbox" id="EstadoRol">
                    <label class="form-check-label" for="EstadoRol">Activo</label>
                </div>
                <button type="button" class="btn btn-danger" onclick="FinalizarRegistroRol()">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="AgregarNuevoRol()">Guardar</button>
            </form>
        </div>

        <div id="tblRol" class="col-lg-12" style="margin-top:10px;">
            <h4>Lista de roles</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Residentes</th>
                        <th scope="col">Asistentes</th>
                        <th scope="col">Visitas</th>
                        <th scope="col">Configuraciones</th>
                        <th scope="col" colspan="2">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Admin</td>
                        <td>Permitir</td>
                        <td>Permitir</td>
                        <td>Permitir</td>
                        <td>Permitir</td>
                        <td><button type="submit" class="btn btn-default" onclick="">Modificar</button></td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="EdicionUsuario" style="display: none;" class="col-lg-12">

        <div id="TablaUsuarios" class="col-lg-12" style="margin-top:10px;">
            <h4 style="text-align:left;">Lista de usuarios</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Rol</th>
                        <th scope="col" colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Usuario</td>
                        <td>Jane Doe</td>
                        <td>Admin</td>
                        <td><button type="submit" class="btn btn-default" onclick="Validar()">Modificar</button></td>
                        <td><button type="submit" class="btn btn-danger" onclick="Validar()">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="InfoPersona" class="col-lg-12" align="center" style="display: none; margin-top:10px;">
            <h4 style="text-align:left;">Información personal</h4>
            <form>
                <div class="form-group">
                    <label for="Cedula">Cédula</label>
                    <input type="text" class="form-control" id="Cedula">
                </div>
                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" id="Nombre">
                </div>
                <div class="form-group">
                    <label for="Apellido1">Apellido 1</label>
                    <input type="text" class="form-control" id="Apellido1">
                </div>
                <div class="form-group">
                    <label for="Apellido2">Apellido 2</label>
                    <input type="text" class="form-control" id="Apellido2">
                </div>
                <div class="form-group">
                    <label for="Estado">Estado:</label>
                    <input class="form-check-input" type="checkbox" id="EstadoPersona">
                    <label class="form-check-label" for="EstadoPersona">Activo</label>
                </div>
                <button type="button" class="btn btn-danger" onclick="FinalizarRegistroUsuario()">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="AgregarNuevaPersona()">Guardar y continuar</button>
            </form>
        </div>

        <div id="InfoTelefono" style="display: none; margin-top:10px;">
            <div class="col-lg-12">
                <h4>Información de contacto</h4>
                <form >
                    <div class="form-group" align="center">
                        <label for="NumeroTel">Teléfono</label>
                        <input type="text" class="form-control" id="NumeroTel">
                    </div>
                    <div class="form-group" align="center">
                        <label for="TipoTelefono">Tipo teléfono</label>
                        <select class="form-control" id="TipoTelefono">
                            <option>Default</option>
                        </select>
                    </div>
                    <div class="form-group" align="center">
                        <label for="EstadoTelefono">Estado</label>
                        <input class="form-check-input" type="checkbox" id="EstadoTelefono">
                        <label class="form-check-label" for="EstadoTelefono">Activo</label>
                    </div>
                    <div class="form-group" align="center">
                        <button type="button" class="btn btn-success" onclick="AgregarNuevoTelefono()">Agregar</button>
                        <button type="button" class="btn btn-default" onclick="AgregarUsuario()">Continuar</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-12">
                <h4 style="margin-top:10px;">Lista de registros</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Teléfonon</th>
                            <th scope="col">Tipo teléfono</th>
                            <th scope="col" colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>88888888</td>
                            <td>Hogar</td>
                            <td><button type="submit" class="btn btn-default" onclick="Validar()">Modificar</button></td>
                            <td><button type="submit" class="btn btn-danger" onclick="Validar()">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="InfoUsuario" class="col-lg-12" align="center" style="display: none; margin-top:10px;">
            <h4 text-align:left;">Información del usuario</h4>
            <form>
                <div class="form-group">
                    <label for="Usuario">Usuario</label>
                    <input type="text" class="form-control" id="Usuario" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="Contrasena">Contraseña</label>
                    <input type="password" class="form-control" id="Contrasena" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="ContrasenaRepita">Repita la contraseña</label>
                    <input type="password" class="form-control" id="ContrasenaRepita" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="Rol">Rol</label>
                    <select class="form-control" id="Rol">
                        <option>Default</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="EstadoUsuario">Estado</label>
                    <input class="form-check-input" type="checkbox" id="EstadoUsuario">
                    <label class="form-check-label" for="EstadoUsuario">Activo</label>
                </div>
                <button type="button" class="btn btn-success" onclick="AgregarNuevoUsuario()">Guardar y finalizar</button>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/Funciones/Configuracion.js"></script>