
@{
    ViewBag.Title = "Residentes";
}

<h3 id="TituloConfig">Residentes / Lista de residentes</h3>
<hr />

<ul class="nav nav-tabs">
    <li id="tbPacientes" onclick="clickPacientes()" class="active"><a>Residentes</a></li>
    <li id="tbParientes" onclick="clickParientes()"><a>Parientes</a></li>
    <li id="tbAsistentes" onclick="clickAsistentes()"><a>Asistentes</a></li>    
</ul>

<div class="col-lg-12">
    <div id="MarcoPacientes" class="col-lg-12">
        <div class="col-lg-12" align="left">
            <button id="btnCrearResidente" type="button" class="btn btn-success" onclick="AgregarResidente(1)" style="margin-top:25px;">Agregar residente</button>
        </div>
        <div id="tblPaciente" class="col-lg-12" style="margin-top:10px;">
            <h4>Residentes registrados</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre completo</th>
                        <th scope="col">Fecha ingreso</th>
                        <th scope="col">Asistente</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>101110111</td>
                        <td>Gonzalo Madril</td>
                        <td>10-08-2020</td>
                        <td>Marta Solano</td>
                        <td><button type="button" class="btn btn-success" onclick="">Modificar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="MarcoParientes" class="col-lg-12" style="display:none;">
        <div class="col-lg-12" align="left">
            <button id="btnCrearPariente" type="button" class="btn btn-success" onclick="AgregarPariente(2)" style="margin-top:25px;">Agregar pariente</button>
        </div>
        <div id="tblPariente" class="col-lg-12" style="margin-top:10px;">
            <h4>Parientes registrados</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre completo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>101110111</td>
                        <td>Noelia Segura</td>
                        <td>88888888</td>
                        <td><button type="button" class="btn btn-success" onclick="">Modificar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="MarcoAsistentes" class="col-lg-12" style="display:none;">
        <div class="col-lg-12" align="left">
            <button id="btnCrearAsistente" type="button" class="btn btn-success" onclick="AgregarAsistente(3)" style="margin-top:25px;">Agregar asistente</button>
        </div>
        <div id="tblAsistentes" class="col-lg-12" style="margin-top:10px;">            
            <h4>Asistentes registrados</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre completo</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>101110111</td>
                        <td>Noelia Segura</td>
                        <td>10:00 am</td>
                        <td><button type="button" class="btn btn-success" onclick="">Modificar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="MarcoRegistro">

        <div id="InfoPersona" class="col-lg-12" align="center" style="display: none; margin-top:10px;">
            <h4 style="text-align:left;">Formulario del información personal</h4>
            <form>
                <div class="form-group">
                    <label for="Cedula">Cédula</label>
                    <input type="text" class="form-control" id="Cedula">
                </div>
                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" id="Nombre">
                </div>
                <div class="form-group">
                    <label for="Apellido1">Apellido 1</label>
                    <input type="text" class="form-control" id="Apellido1">
                </div>
                <div class="form-group">
                    <label for="Apellido2">Apellido 2</label>
                    <input type="text" class="form-control" id="Apellido2">
                </div>
                <div class="form-group">
                    <label for="Estado">Estado:</label>
                    <input class="form-check-input" type="checkbox" id="Estado">
                    <label class="form-check-label" for="Estado">Activo</label>
                </div>
                <button type="button" class="btn btn-danger" onclick="FinalizarRegistro()">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="AgregarTelefono()">Continuar</button>
            </form>
        </div>

        <div id="InfoTelefono" style="display: none; margin-top:10px;">
            <div id="I" class="col-lg-12">
                <h4>Formulario de información de contacto</h4>
                <form>
                    <div class="form-group" align="center">
                        <label for="NumeroTel">Teléfono</label>
                        <input type="text" class="form-control" id="NumeroTel">
                    </div>
                    <div class="form-group" align="center">
                        <label for="TipoTelefono">Tipo teléfono</label>
                        <select class="form-control" id="TipoTelefono">
                            <option>Default</option>
                        </select>
                    </div>
                    <div class="form-group" align="center">
                        <label for="EstadoTelefono">Estado</label>
                        <input class="form-check-input" type="checkbox" id="EstadoTelefono">
                        <label class="form-check-label" for="EstadoTelefono">Activo</label>
                    </div>
                    <div class="form-group" align="center">
                        <button type="button" class="btn btn-success" onclick="GuardarTelefono()">Agregar</button>
                        <button type="button" class="btn btn-default" onclick="ContinuarTelefono()">Continuar</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <h4 style="margin-top:10px;">Lista de contactos</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Teléfonon</th>
                            <th scope="col">Tipo teléfono</th>
                            <th scope="col" colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>88888888</td>
                            <td>Hogar</td>
                            <td><button type="button" class="btn btn-default" onclick="Validar()">Modificar</button></td>
                            <td><button type="button" class="btn btn-danger" onclick="Validar()">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="InfoExpediente" class="col-lg-12" style="display: none; margin-top:10px;">
            <form>
                <h4 style="text-align:left;">Formulario del expediente general</h4>
                <div class="form-group" align="center">
                    <label for="FechaNacExp">Fecha de nacimiento</label>
                    <input class="form-control" type="date" id="FechaNacExp" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31">
                </div>
                <div class="form-group" align="center">
                    <label for="FechaIngExp">Fecha de ingreso</label>
                    <input class="form-control" type="date" id="FechaIngExp" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31">
                </div>
                <div class="form-group" align="center">
                    <label for="AsistenteAsig">Asistente a cargo</label>
                    <select class="form-control" id="AsistenteAsig">
                        <option>Default</option>
                    </select>
                </div>
                <div class="form-group" align="center">
                    <label for="EstadoExp">Estado</label>
                    <input class="form-check-input" type="checkbox" id="EstadoExp">
                    <label class="form-check-label" for="EstadoExpo">Activo</label>
                </div>
                <div align="center">                    
                    <button type="button" class="btn btn-success" onclick="GuardarResidenteExpediente()">Continuar</button>
                </div>
            </form>
        </div>

        <div id="InfoArticulo" style="display: none; margin-top:10px;">
            <div class="col-lg-12">
                <h4>Formulario de registro de articulos</h4>
                <form>
                    <div class="form-group" align="center">
                        <label for="ArtDescripcio">Descripcion</label>
                        <input type="text" class="form-control" id="ArtDescripcio">
                    </div>
                    <div class="form-group" align="center">
                        <label for="TipoArticulo">Tipo articulo</label>
                        <select class="form-control" id="TipoArticulo">
                            <option>Default</option>
                        </select>
                    </div>
                    <div class="form-group" align="center">
                        <label for="EstadoArticulo">Estado:</label>
                        <input class="form-check-input" type="checkbox" id="EstadoArticulo">
                        <label class="form-check-label" for="EstadoArticulo">Activo</label>
                    </div>
                    <div class="form-group" align="center">
                        <button type="button" class="btn btn-success" onclick="GuardarArticulo()">Guardar</button>
                        <button type="button" class="btn btn-default" onclick="ContinuarArticulo()">Continuar</button>
                    </div>                    
                </form>
            </div>
            <div class="col-lg-12">
                <h4 style="margin-top:10px;">Lista de articulos</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Teléfonon</th>
                            <th scope="col">Tipo teléfono</th>
                            <th scope="col" colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>88888888</td>
                            <td>Hogar</td>
                            <td><button type="button" class="btn btn-default" onclick="">Modificar</button></td>
                            <td><button type="button" class="btn btn-danger" onclick="">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="InfoAsistente" class="col-lg-12" style="display: none; margin-top:10px;">
            <h4>Formulario de registro de asistentes</h4>
            <form>
                <div class="form-group" align="center">
                    <label for="TipoAsistente">Tipo asistente</label>
                    <select class="form-control" id="TipoAsistente">
                        <option>Default</option>
                    </select>
                </div>
                <div class="form-group" align="center">
                    <label for="FechaIngAsis">Horario de entrada</label>
                    <input class="form-control" type="date" id="FechaIngAsis" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31">
                </div>
                <div class="form-group" align="center">
                    <label for="EstadoAsistente">Estado: </label>
                    <input class="form-check-input" type="checkbox" id="EstadoAsistente">
                    <label class="form-check-label" for="EstadoAsistente">Activo</label>
                </div>
                <div class="form-group" align="center">
                    <button type="button" class="btn btn-success" onclick="GuardarAsistente()">Guardar</button>
                </div>
            </form>
        </div>

        <div id="InfoVisitante" class="col-lg-12" style="display: none; margin-top:10px;">
            <h4>Parientes del residente</h4>
            <div id="" class="col-lg-6">
                <form class="form-inline">
                    <div class="col-lg-4" align="left">
                        <button type="button" class="btn btn-success" onclick="IrPariente()">Ir a parientes</button>
                    </div>
                    <div class="col-lg-8" align="right">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Buscar" placeholder="Buscar">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" onclick="BuscarPariente()">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="form-group" align="right">
                    <button type="button" class="btn btn-success" onclick="TerminarRegistroResidente()">Guardar</button>
                </div>
            </div>

            <div id="tblPariente" class="col-lg-6" style="margin-top:10px;">
                <h4>Listas de parientes</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Nombre completo</th>
                            <th scope="col">Parentesco</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>101110111</td>
                            <td>Noelia Segura</td>
                            <td>
                                <select class="form-control" id="TipoTelefono">
                                    <option>Default</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" onclick="">Agregar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="tblPariente" class="col-lg-6" style="margin-top:10px;">
                <h4>Parientes del residente</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Nombre completo</th>
                            <th scope="col">Parentesco</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/Funciones/Pacientes.js"></script>